*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
    color: #353737;
}
a{
    text-decoration: none;
}
header, section, footer{
    width: 100%;
    float: left;
}
.container{
    width: 980px;
    height: auto;
    margin-left: calc((100% - 980px)/2);
    margin-right: calc((100% - 980px)/2);
    display: block;
    position: relative;
    float: left;
    padding: 10px;
}
header{
    background-color: #A11F2B;
    height: auto;
}
header a{
    color: #FFFFFF;
    text-decoration: none;
    line-height: 2;
}
.head-left-side{
    float: left;
    width: 60%;
}
.head-left-side a{
    margin-right: 10px;
}
.head-left-side img{
    margin-right: 5px;
    margin-bottom: -3px;
}
.container .head-right-side{
    float: right;
    width: 40%;
}
.head-right-side span{
    color: #FFFFFF;
}
.head-right-side form{
    line-height: 2;
    margin-right: 15px;
}
.head-right-side input{
    border: 1px solid #FFFFFF !important;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    color: #A11F2B !important;
    margin-left: calc(100% - 50%);
    padding: 10px;
}
.navigation{
    margin-bottom: -10px;
}
.navigation a{
    color: #292929;
    text-transform: uppercase;
    line-height: 2;
    font-size: 16px;
}
.navigation a:hover{
    color: #A11F2B;
    transition: 1000ms;
    text-decoration: underline;
}
.navigation ul li{
    display: inline;
    margin-right: 50px;
}
.banner{
    text-align: center;
    padding-top: 2.5px;
    border-top: solid 1px #A11F2B;
    border-bottom: solid 1px #A11F2B;;
}
.banner img{
    max-width: 100%;
    height: auto;
}
.con-subject{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 24px;
    line-height: 2;
    color: #A11F2B;
    margin-top: -10px
}
.con-line{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
}
.con-line .line-item{
    width: 25%;
    float: left;
    margin-bottom: 50px;
}
.line-item .item-thumb{
    width: 210px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
}
.item-thumb img{
    width: 210px;
    height: 280px;
}
.item-thumb h2{
    margin-top: 10px;
}
.item-thumb a{
    color: #353737;
}
.item-thumb a:hover{
    color: #A11F2B;
}
.con-pagination{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: solid 1px #A11F2B;
}
.con-pagination a{
    margin: 15px;
    color: #A11F2B;
    font-size: 14px;
    font-weight: bold;
}
.rp-title{
    width: 100%;
    float: left;
    margin-bottom: 25px;
}
.rp-title h2{
    color: #344A5F;
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
}
.rp-line{
    width: 100%;
    float: left;
}
.rp-line .rp-line-post{
    width: 33%;
    float: left;
    margin: auto auto 10px;
}
.rp-line-post .post-thumb{
    width: 96px;
    height: 96px;
    float: left;
    margin-right: 10px;
    border: solid 1px #A11F2B;
}
.post-thumb img{
    width: 96px;
    height: 96px;
}
.post-content .post-title{
    margin-bottom: 10px;
}
footer{
    background-color: #333333;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer a{
    color: #FFFFFF;
}
footer a:hover{
    color: #FFFFFF;
    background-color: #A11F2B;
}
footer h3{
    font-size: 24px;
    line-height: 1;
    margin-bottom: 15px;
}
footer ul{
    padding-left: 15px;
    padding-right: 15px;
}
footer li{
    font-size: 18px;
    line-height: 1.4;
}
.contact{
    width: 40%;
    float: left;
}
.about{
    width: 30%;
    float: left;
}
.follow-me{
    width: 30%;
    float: right;
}
